TI1.2 SOAP_DOTNET_SINBD_GR04/02. CLICON/ClienteConversionConsole/ClienteConversionConsole/Connected Services/ConversionRef/ConversionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentimetersToFeet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimeters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToFeetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetersToFeetResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeetToCentimeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feet" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeetToCentimetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeetToCentimetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetersToYards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetersToYardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetersToYardsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YardsToMeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yards" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YardsToMetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YardsToMetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InchesToCentimeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inches" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InchesToCentimetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InchesToCentimetersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToInches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimeters" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetersToInchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetersToInchesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramsToPounds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilograms" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramsToPoundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramsToPoundsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoundsToKilograms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pounds" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoundsToKilogramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoundsToKilogramsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramsToOunces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grams" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramsToOuncesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramsToOuncesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OuncesToGrams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ounces" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OuncesToGramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OuncesToGramsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusToFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitToCelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusToKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusToKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinToCelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitToKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinToFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>