TI1.1SOAP_JAVA_SINBDD_GR04/02.CLIWEB/ConUni_Soap__G04_Cliente_Web/src/conf/xml-resources/web-service-references/ConversorService/wsdl/alex_8080/ConUni_Soap_Java_G04/ConversorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="ConversorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://alex:8080/ConUni_Soap_Java_G04/ConversorService?xsd=1"/>
</xsd:schema>
</types>
<message name="convertirTemperatura">
<part name="parameters" element="tns:convertirTemperatura"/>
</message>
<message name="convertirTemperaturaResponse">
<part name="parameters" element="tns:convertirTemperaturaResponse"/>
</message>
<message name="convertirLongitud">
<part name="parameters" element="tns:convertirLongitud"/>
</message>
<message name="convertirLongitudResponse">
<part name="parameters" element="tns:convertirLongitudResponse"/>
</message>
<message name="convertirMasa">
<part name="parameters" element="tns:convertirMasa"/>
</message>
<message name="convertirMasaResponse">
<part name="parameters" element="tns:convertirMasaResponse"/>
</message>
<portType name="ConversorService">
<operation name="convertirTemperatura">
<input wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirTemperaturaRequest" message="tns:convertirTemperatura"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirTemperaturaResponse" message="tns:convertirTemperaturaResponse"/>
</operation>
<operation name="convertirLongitud">
<input wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirLongitudRequest" message="tns:convertirLongitud"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirLongitudResponse" message="tns:convertirLongitudResponse"/>
</operation>
<operation name="convertirMasa">
<input wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirMasaRequest" message="tns:convertirMasa"/>
<output wsam:Action="http://ws.monster.edu.ec/ConversorService/convertirMasaResponse" message="tns:convertirMasaResponse"/>
</operation>
</portType>
<binding name="ConversorServicePortBinding" type="tns:ConversorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertirTemperatura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertirLongitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertirMasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversorService">
<port name="ConversorServicePort" binding="tns:ConversorServicePortBinding">
<soap:address location="http://alex:8080/ConUni_Soap_Java_G04/ConversorService"/>
</port>
</service>
</definitions>