TI1.1SOAP_JAVA_SINBDD_GR04/02.CLIESC/ConUni_SOAP_Java_G04_Cliente_Escritorio/xml-resources/web-service-references/ConversorService/wsdl/localhost_8080/ConUni_Soap_Java_G04/ConversorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="convertirLongitud" type="tns:convertirLongitud"/>

<xs:element name="convertirLongitudResponse" type="tns:convertirLongitudResponse"/>

<xs:element name="convertirMasa" type="tns:convertirMasa"/>

<xs:element name="convertirMasaResponse" type="tns:convertirMasaResponse"/>

<xs:element name="convertirTemperatura" type="tns:convertirTemperatura"/>

<xs:element name="convertirTemperaturaResponse" type="tns:convertirTemperaturaResponse"/>

<xs:complexType name="convertirLongitud">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="unidadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="unidadDestino" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirLongitudResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirMasa">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="unidadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="unidadDestino" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirMasaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirTemperatura">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="unidadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="unidadDestino" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirTemperaturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>